<!-- <p>header works!</p> -->
<mat-toolbar class="header mat-elevation-z4">
    <span>
        <a>
            <img class="logo" src="../../../../assets/img/logo.png" alt="logo">
        </a>
    </span>
    <span class="title-group">
        <a>
            <!-- Vamos colocar nosso icone atraves da tag i-->
            <i class="material-icons">
                <!-- Esta referenciando o icone home do Material Design. -->
                home
            </i>
            Página Inicial.
        </a>
    </span>
</mat-toolbar>
