/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Nesse arquivo podemos colocar classes css que serão usadas de forma global
   dentro de nossa aplicação. */

.coracao {
    color: #e35e6b;
    vertical-align: middle;
}